[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
boto3 = "*"
pandas = "*"

[dev-packages]
pytest = "*"
pre-commit = "*"
mypy = "*"

[requires]
python_version = "3.9"

[scripts]
test = "pipenv run pytest"
